<div class="pure-g">
    <div class="pure-u-1-5 pure-hidden-sm pure-hidden-xs" ng-controller="AuthController">
      <div id="menu" class="pure-menu">
        <span class="pure-menu-heading">Recipes</span>
          <ul class="pure-menu-list mt">
            <li class="pure-menu-item">
              <a href="#/recipes" class="pure-menu-link">All Recipes</a>
            </li>
            <li ng-show="signedIn()" class="pure-menu-item">
              <a href="#/recipes/mine" class="pure-menu-link">My Recipes</a>
            </li>
            <li ng-show="signedIn()" class="pure-menu-item">
              <a href="#/recipes/new" class="pure-menu-link">
                <span class="icon">+</span>
                  Add Recipe
                </a>
            </li>
            <li ng-hide="signedIn()" class="pure-menu-item">
              <a href="#/register" class="pure-menu-link">Register</a>
            </li>
            <li ng-show="signedIn()" class="pure-menu-item">
              <a href="" class="pure-menu-link" ng-click="logout()">Log Out</a>
            </li>
            <!-- <li class="pure-menu-item"><a href="#/recipes/new" class="pure-menu-link">New Recipe</a></li> -->
          </ul>
          <form ng-hide="signedIn()" ng-submit="login()" class="pure-form pure-form-stacked login-form">
            <label>Sign In</label>
            <br>
            <input type="text" placeholder="Email" ng-model="user.email" />
            <input type="password" placeholder="Password" ng-model="user.password" />
            <button type="submit" class="pure-button">Log In</button>
          </form>
        <%#= image_tag "angular.png", class: "angular-logo" %>
      </div>
    </div>

  <div ng-view class="pure-u-4-5"></div>
</div>

