.m {
  margin: 1em !important;
}

.mt {
  margin-top: 1em !important;
}

.ml {
  margin-left: 1em !important;
}

.mr {
  margin-right: 1em !important;
}

.mb {
  margin-bottom: 1em !important;
}

.t-center {
  text-align: center;
}

.fl-r {
  float: right;
}
