<h1>Register</h1>

<form ng-submit="register()" class="pure-form pure-form-stacked">
  <input type="email" placeholder="Email" ng-model="user.email">
  <input type="password" placeholder="Password" ng-model="user.password">
  <button type="submit" class="pure-button">Register</button>
</form>
